<div id="products" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Productos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="table-responsive">
        <table id="result-products" class="table table-bordered table-striped table-hover">
          <thead>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Distribuidor</th>
            <th>stock</th>
            <th>Accion</th>
          </thead>
          <tfoot></tfoot>
          <tbody>
            <% @products.each do |f|%>
              <tr>
                <td> <%=f.name%> </th>
                <td> <%=f.code%> </th>
                <td> Gacella</th>
                <td> <%=f.price%> </th>
                <td> Nocella </th>
                <td> <%=f.stock%> </th>
                <td> <%=link_to "Ver mas", 'products/show', class: 'btn btn-success'%> </th>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>