<!DOCTYPE html>
<html lang="en">


<body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Escritorio
                    <small>Gacella</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
              <%= image_tag("escritorio.jpeg", class: 'img-responsive') %>
            </div>

            <div class="col-md-4">
                <h3>Descripcion</h3>
                <p>El escritorio esta hecho en madera de roble rojo traida del norte de australia, mide 1,3m x 87cm x 1m , es resistente a los rayones</p>
                <h3>Datalles del producto</h3>
                <ul>
                    <li>Color: Rojo, Negro</li>
                    <li>Disponible: Si</li>
                </ul>
            </div>
            <divclass="col-md-4"> <%= link_to 'Comprar', root_path, class: 'btn btn-primary' %></div>

        </div>
        <!-- /.row -->

        

        <hr>

        <!-- Footer -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
