<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Historial de ventas - Nocella</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/4-col-portfolio.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Historial de ventas
          <small>Nocella</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Agosto 2015</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Septiembre 2015</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Octubre 2015</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Noviembre 2015</h1>
        </div>
      </a>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Diciembre 2015</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Enero 2016</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Febrero 2016</h1>
        </div>
      </a>

      <a href="/sales/show">
        <div class="col-md-3 portfolio-item">
          <h1 class="page-header">Marzo 2016</h1>
        </div>
      </a>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>

</html>
