<footer>
  <div class="row">
      <div class="col-lg-12">
          <p>Copyright &copy; Depetris&Massimino</p>
          <p><b>Contactos Email: </b>ezedepetris@gmail.com/gamassimino01@gmail.com <b>Telefono: </b>(0358) 154256316/154841995</p>
      </div>
  </div>
</footer>